[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
scikit-learn = "*"
dash-table = "*"
pylint = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.7"
